:root {
  --color-bg-dark:#f5f5f5;
  --color-bg:#fdfffd;
  --color-grey:#d1d1d1;
  --color-text:#22243d;
  --color-accent:#f16e03;
  --color-white:white;
  --color-scrollbar:#aaa7a7;
}

html.dark{
  --color-bg-dark:#1a1c35;
  --color-bg:#22243b;
  --color-grey:#4e4e4e;
  --color-text:#fdfffd;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(84,91,103);
  background: radial-gradient(circle, rgba(84,91,103,1) 32%, rgba(204,213,219,1) 100%);
  font-size: 1.2rem;
  accent-color: var(--color-accent);

}

#root {
  width: 100%;
  height: 60%;
  max-width: 500px;
  background-color: var(--color-bg-dark);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 20px -12px rgba(0, 0, 0, 0.8);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{
  outline: none;
  border: none;
  cursor:pointer;

}



ul{
  list-style:none;
  padding-left:0;
}

::-webkit-scrollbar{
  width:0.5rem;
}
::-webkit-scrollbar-track{
  background-color: var(--color-bg-dark);
}
::-webkit-scrollbar-thumb{
  background-color: var(--color-scrollbar);
}
::-webkit-scrollbar-thumb:hover{
  background-color: var(--color-accent);
}