.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;

}

.menu button:hover {
  transform: scale(1.1);
  
}